{% extends "base.html" %}

{% block content %}

<!-- 新規登録ボタン -->
<div class="row mb-3 text-right">
  <a href="/register">
    <input type="submit" class="btn btn-primary ml-5" value="Create">
  </a>
</div>

<!-- 一覧表示 -->
  <div class="row col-sm-12 text-center ml-2">
    <table class="table table-bordered table-hover">
      <thead class="bg-success">
        <tr>
          <th>No.</th>
          <th>Project</th>
          <th>Overview</th>
          <th>Start_date</th>
          <th>End_date</th>
        </tr></thead>
      <tbody>
        {% for data in history_db_data %}
        <tr data-href="/custom/{{ data.id }}">
          <td>{{ data.id }}</td>
          <td>{{ data.Name }}</td>
          <td>{{ data.Notes }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>




{% endblock %}
